.image{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      margin-top: 5px;
      margin-left: 5px;
}

.shopee-image-manager__tools{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    height: 24px;
    background-color: rgba(0,0,0,.3);
    border-radius: 0 0 4px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    font-weight: 700;
    
}

.flex-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}

.partition{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  background-color: white;
  margin: 3px 3px 10px 3px;
}

.borderButton{
  border-style: dashed;
  background-color: #fff;
  border-color: #b7b7b7;
}

.centerHeight{
  display: flex;
    align-items: center;
}